body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.row.tight {
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 100vh;
}
.fullheight {
  height: 100vh;
  position: relative;
  /*overflow: hidden;*/
}
#daterange {
  margin-top: 20px;
  padding-right: 10px;
}
.range-label span {
  color: transparent;
}

.legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.legend .bar {
  width: 200px;
  height: 30px;
  background: -webkit-linear-gradient(left, hsla(0, 80%, 50%, 0.8) 0%,hsla(120, 80%, 50%, 0.8) 100%);
  border-radius: 5px;
}

.legend img {
  width: 24px;
  vertical-align: middle;
}